<!-- Language Choose -->
<div class="modal fade" id="language" tabindex="-1" role="dialog" aria-labelledby="language">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Please choose your language :</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="private/lang/changelanguage.php?lang=ar" class="list-group-item">العربية</a>
                    <a href="private/lang/changelanguage.php?lang=en" class="list-group-item">English</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="contract" tabindex="-1" role="dialog" aria-labelledby="contract">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="list-group">
                    <p><?php echo LANG_index_contract; ?></p>
                </div>
            </div>
            <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo LANG_index_IAccept ?></button>
            </div>
        </div>
    </div>
</div>
